<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework_2</title>
</head>
<body>
    <p>
        <a href="/">Home</a>
        <a href="/requirements">Requirements</a>
        <a href="/generate-users">Generate users</a>
        <a href="/space">Current astronauts</a>
    </p>
    <p>
        {% block content %}
        {% endblock %}
    </p>
</body>
</html>