{% extends 'base.html' %}
{% block content %}
     <h1>Generated users:</h1>
     {% for user in users %}
         <p>{{user.number}}. {{user.name}} {{user.email}}</p>
     {% endfor %}
{% endblock %}