<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music library</title>
</head>
<body>
    <p>
        <a href="/">Home</a>|
        <a href="/tracks">Tracks</a>|
    </p>
    <p>
        {% block content %}
        {% endblock %}
    </p>
</body>
</html>