{% extends 'base.html' %}
{% block content %}
    <form action="" method="GET">
        <input name="q" type="search" value="{{ q }}">
        <select name="attr">
            <option value="name">Name</option>
            <option value="author" selected>Author</option>
        </select>
        <button type="submit">Search</button>
    </form>

    {% if q and not tracks %}
        <p>nothing found by "{{q}}"</p>
    {% elif tracks %}
        <table>
            <tr>
                <th>Author</th>
                <th>Name</th>
                <th></th>
            </tr>
        {% for track in tracks %}
            <tr>
                <td>{{track.author}}</td>
                <td>{{track.name}}</td>
                <td>
                    <a href="/tracks/{{track.id}}/edit">edit</a>
                    <a href="/tracks/{{track.id}}/delete" onclick="return confirm('Are you sure, you want to delete it?')">delete</a>
                </td>

            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <p><a href="/tracks/add">Add track</a></p>
{% endblock %}