{% extends 'base.html' %}
{% block content %}
    <h1>{{ action }} track:</h1>
    {% if error %}
        <h1>Error: {{ error }}</h1>
    {% endif %}

    <form action="" method="POST">
        <p>
            <label for="author">Author</label>
            <input name="author" id="author" type="text" value="{{ author }}">
        </p>
        <p>
            <label for="name">name</label>
            <input name="name" id="name" type="text" value="{{ name }}">
        </p>
        <button type="submit">Save</button>
    </form>
{% endblock %}