<table class="table table-striped">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>active</th>
      </tr>
    {% if courses %}
        {% for course in courses %}
            {% include 'includes/course_row.html'%}
        {% endfor %}
    {% endif %}
</table>