<table class="table table-striped">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>curator</th>
        <th>teachers</th>
      </tr>
    {% if groups %}
        {% for group in groups %}
            {% include 'includes/group_row.html'%}
        {% endfor %}
    {% endif %}
</table>