<tr>
    <td>{{ group.id }}</td>
    <td>{{ group.name }}</td>
    <td>{{ group.curator }}</td>
    <td>
        {% for teacher in group.teacher_set.all %}
        <span>{{ teacher }}</span><br>
        {% endfor %}
    </td>
</tr>