<table class="table table-striped">
      <tr>
        <th>id</th>
        <th>title</th>
        <th>material</th>
        <th>course</th>
      </tr>
    {% if lessons %}
        {% for lesson in lessons %}
            {% include 'includes/lesson_row.html'%}
        {% endfor %}
    {% endif %}
</table>