<tr>
    <td>{{student.id}}</td>
    <td>{{student.first_name}}</td>
    <td>{{student.last_name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.university_group}}</td>
    <td><a href="/update/student/{{student.id}}">update</a></td>
</tr>