<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>age</th>
        <th>group</th>
        <th></th>
    </tr>
    {% for student in students %}
        {% include 'includes/student_row.html' %}
    {% endfor %}
</table>
