<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>subject</th>
        <th>groups</th>
        <th></th>
    </tr>
    {% if teachers %}
        {% for teacher in teachers %}
            {% include 'includes/teacher_row.html' %}
        {% endfor %}
    {% endif %}
</table>