<tr>
    <td>{{ teacher.id }}</td>
    <td>{{ teacher.first_name }}</td>
    <td>{{ teacher.last_name }}</td>
    <td>{{ teacher.subject }}</td>
    <td>
        {% for group in teacher.university_groups.all %}
            <span>{{ group }}</span><br>
        {% endfor %}
    </td>
    <td><a href="/update/teacher/{{ teacher.id}}/">update</a> </td>
</tr>