{% extends 'base.html' %}
{% block normal_content %}
    <div class="card">
      <div class="card-header">
        Course #{{ object.id }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
            <p class="card-text">Is active?: <b>{{ object.active|yesno:'YES,NO' }}</b></p>
            <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet laoreet mi.
                  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  Vestibulum eget egestas ante, aliquam cursus nisl. Orci varius natoque penatibus et magnis dis
                  parturient montes, nascetur ridiculus mus. Vivamus dolor orci, sollicitudin vitae purus nec,
                  ultricies aliquam eros. Fusce ut dictum augue. Nulla eget mi nisi. In in magna quis dolor pretium
                  sagittis at sit amet enim.
            </p>
        <form method="post">{% csrf_token %}
            {% if user in object.students.all %}
                <button type="submit" class="btn btn-warning">Unsubscribe</button>
            {% else %}
                <button type="submit" class="btn btn-info">Subscribe</button>
            {% endif %}
        </form>
      </div>
    </div>
    {%  if error %}
        <div class="alert alert-dark" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <p></p>
    <p>
        <a href="/courses/{{ object.id }}/create/lesson/" class="btn btn-success"> add lesson</a>
    </p>
    {% if lessons %}
        <h2>{{ object.name }} lessons:</h2>
        {% include 'includes/lesson_table.html' %}
    {% endif %}


{% endblock normal_content %}