{% extends 'base.html' %}
{% block normal_content %}
        <h1>All courses <a href="/create/course" class="btn btn-success">add new course</a></h1>
    {% include 'includes/course_table.html' %}
{% endblock normal_content %}