{% extends 'base.html' %}

{% block normal_content %}
    <h2>Press the button to generate a random student</h2>
    <form method="post" action="/generate-student/"> {% csrf_token %}
        <button type="submit" class="btn btn-primary">Generate student</button>
    </form>
    <br>

    {% if students %}
        {% include 'includes/students_table.html' %}
    {% endif %}

{% endblock normal_content %}
