{% extends "base.html" %}
{% block normal_content %}
    <h2>Please, enter a count and press "Generate"</h2>
    <form method="get">
        <div class="mb-3">
            <label>Count of newly generated students</label>
            <input type="number" class="form-control" name="count" min="1" max="100" value="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>
    <br>
    {% if students %}
        <p>Generated students {{ generated_count }}:</p>
        {% include 'includes/students_table.html' %}
    {% endif %}
{% endblock normal_content %}
