{% extends 'base.html' %}
{% block normal_content %}
    <div class="card">
      <h5 class="card-header">#{{ lesson.id }}</h5>
      <div class="card-body">
        <h5 class="card-title">{{ lesson.title }}</h5>
        <p class="card-text">
          <p>{{ lesson.material }}</p>
            {% if lesson.home_tasks %}
                <h3>Hometasks:</h3>
                <ul>
                    {% for hometask in lesson.home_tasks.all %}

                        <li> {{ hometask }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        <a href="/courses/{{ lesson.course.id }}/lessons/{{ lesson.id }}/create/hometask/" class="btn btn-primary">
            add hometask
        </a>
      </div>
    </div>
    <h1></h1>

{% endblock %}
