{% extends 'base.html' %}
{% block normal_content %}
    <h1>Hello, {{ object.username }}!</h1>
    <p></p>
        {% if object.courses %}
                <h2>You have subscribed on {{ object.courses.count }} courses.</h2>
                <table class="table table-striped">
                      <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>active</th>
                      </tr>
                    {% for course in object.courses.all %}
                        {% include 'includes/course_row.html'%}
                    {% endfor %}
                </table>
        {% endif %}
{% endblock normal_content %}