{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block normal_content %}
    <h1>Signup</h1>
    <form method="post"> {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">signup</button>
    </form>
{% endblock normal_content %}