{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block normal_content %}
    <form method="post"> {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">add teacher</button>
    </form>
{% endblock normal_content %}
